<div class="box-header">
<h3 class="box-title">{{namespace.name}}</h3>
</div>
<div class="box-content">
  <dl class="dl-horizontal">
    <dt>Created By</dt>
    <dd>{{namespace.createdBy}}</dd>
    <dt>Created On</dt>
    <dd>{{namespace.createdOn}}</dd>
    <dt>Modified By</dt>
    <dd>{{namespace.modifiedBy}}</dd>
    <dt>Last Modified</dt>
    <dd>{{namespace.modifiedOn}}</dd>
  </dl>
  <br>
  {{yield}}
</div>
