<div class="{{skin}} wrapper">

<header class="main-header">
  <!-- Logo -->
  {{#link-to "index" class="logo"}}
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>T</b> A</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Toast</b> Admin</span>
  {{/link-to}}

  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        {{#if session.isAuthenticated}}
          <li>
            <a><b>{{session.session.content.authenticated.attributes.id}}</b> via <b>{{session.session.content.authenticated.attributes.provider}}</b></a>
          </li>
          <li>
            <a {{action 'logout'}} href="#"><i class="fa fa-sign-out"></i></a>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <ul class="nav sidebar-menu">
      <li class="header">Namespaces</li>
      {{#each model as |namespace|}}
        {{namespace-entry namespace}}
      {{/each}}
      <!-- <li><a><i class="fa fa-plus"></i>New Namespace</a></li> -->
    </ul>
  </section>
</aside>

<div class="content-wrapper" style="height: 100vh;">
  {{outlet}}
</div>
</div>
