<a style="cursor:pointer;" {{action "toggle"}}>
<i class="fa fa-database"></i>
<span> {{namespace.name}}</span>
{{#if showCollections}}
    <i class="fa pull-right {{if namespace.collections.isPending "fa-spinner fa-pulse" "fa-angle-down"}}"></i>
{{else}}
    <i class="fa pull-right fa-angle-left"></i>
{{/if}}
</a>

{{#if showCollections}}
  {{#unless namespace.collections.isPending}}
    <ul class="treeview-menu menu-open">
      {{#link-to "namespace.index" namespace.id tagName="li" }}
        {{#link-to "namespace.index" namespace.id}}
          <i class="fa fa-tasks"></i> Manage
        {{/link-to}}
      {{/link-to}}
      {{#each namespace.collections as |collection|}}
        {{#link-to "namespace.collection" namespace.id collection.id tagName="li" }}
          {{#link-to "namespace.collection" namespace.id collection.id}}
            <i class="fa fa-table"></i> {{collection.name}}
          {{/link-to}}
        {{/link-to}}
      {{/each}}
      {{#if isCreating}}
        <li>{{focus-input enter="newCollection" focus-out="toggleCreation" type="text" placeholder="Name..." class="form-contol new-namespace"}}</li>
      {{else}}
        <li><a {{action 'toggleCreation'}}><i class="fa fa-plus"></i> New Collection</a></li>
      {{/if}}
    </ul>
  {{/unless}}
{{/if}}
